<button class="btn btn-primary btn" data-toggle="modal" data-target="#myModal" x-ng-click='addItem()'>
      Add User
    </button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username"  ng-model='name'>
        <input type="text" class="form-control" placeholder="Age"  ng-model='age'>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" x-ng-click='push()'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Book Record</div>
  <div class="panel-body">
  <div class="table-responsive">
		<table class="table">
		<th> Name </th>
		<th> Age </th>
		
			<tr ng-repeat="person in Person">
		<td>	<input type="text" ng-model='person.name'/></td>
			<td>	<input type="text" ng-model='person.age'/></td>	
				<td>
				<button type="button" class="btn btn-default btn-xs" x-ng-click='save(person)'>
				<span class="glyphicon glyphicon-ok-sign"></span> Save</button>
				</td>
			
				<td>
				<button type="button" class="btn btn-default btn-xs" x-ng-click='removePerson($index)'>
				<span class="glyphicon glyphicon-remove"></span> Delete</button>
				
			
				</td>
			</tr>
		</table>
		</div>
	</div>

	